.button-primary {
  background-color: #EE7070;
  font-size: 18px;
  letter-spacing: .5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: background .3s;
  display: in-line;
  cursor: pointer;
  padding: 14px 24px;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  color: #171717;
}
